body {
    font-family: 'Prompt', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    border: 2px solid #ff66cc;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #ff66cc;
    font-size: 2.5em;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.model-select {
    margin-bottom: 30px;
    text-align: center;
}

.model-select h2 {
    color: #ff66cc;
    font-size: 1.8em;
    border-bottom: 2px solid #ff66cc;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.model-options {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.model-options input {
    margin-right: 10px;
    accent-color: #ff66cc;
}

.model-options label {
    margin-right: 40px;
    color: #333;
    font-size: 1.2em;
    cursor: pointer;
}

.output-section {
    text-align: center;
    border: 2px solid #ff66cc;
    border-radius: 15px;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    position: relative;
}

.output-section h2 {
    color: #ff66cc;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.output-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.date-time {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}

.date-time p {
    font-weight: bold;
    color: #333;
}

/* Add responsive behavior */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .model-options {
        flex-direction: column;
        align-items: center;
    }

    .model-options label {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
